<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Social Game.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9922AD5C1C043F0B00ECCCF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9922AD741C043F0B00ECCCF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9922AD7F1C043F0B00ECCCF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
